.sidebar_container{
    position: fixed;
    left:0px;
    top:0px;
    bottom:0px;

    width:250px;

    background-color: rgb(31, 30, 30);
}

.main{
    padding-left: 250px;

    background-color: rgb(18, 18, 18);

    min-height: 100dvh;

    color: white;
}